<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MatchBoxModules" type="MatchBoxIoc.MatchBoxModules, MatchBoxIoc" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="FirstKey" value="FirstValue" />
    <add key="SecondKey" value="SecondValue"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="ContextA" connectionString="Data Source=MyServerA;Initial Catalog=MyDbA;Integrated Security=SSPI;"/>
    <add name="ContextB" connectionString="Data Source=MyServerB;Initial Catalog=MyDbB;Integrated Security=SSPI;"/>
  </connectionStrings>
  <MatchBoxModules>
    <modules>
      <add assemblyName="TestModuleA.dll" moduleType="ModuleA"/>
      <add assemblyName="TestModuleB.dll" moduleType="ModuleB"/>
    </modules>
  </MatchBoxModules>
</configuration>